<div class="navbar">
    <div class="container">
        <% if(currentUser) { %>
            <a id='logoHome' class="logo">cAtchy</a>
        <% } else { %>
            <a href='/' class="logo">cAtchy</a>
        <% } %>  
        <img id="mobile-cta" class="mobile-menu" src="/images/menu.svg" alt="Open menu"/>
        <nav>
            <img id="mobile-exit" class="mobile-menu-exit" src="/images/exit.svg" alt="Close menu"/>
            <div class="wrapper-nav">
                <ul class="primary-nav">
                    <% if(currentUser) { %>
                        <li id='navHome'><p>Home</p></li>
                        <li id='navPlaylist' data-id='<%= currentUser._id %>'><p>Playlist</p></li>
                        <li id='navSearch'><p>Search</p></li>
                    <% } %>
                </ul>
                <ul class="secondary-nav">
                    <% if(!currentUser) { %>
                        <li id='navLogin'><a href='/login'>Login</a></li>
                        <li id='navRegister'><a href='/register'>Register</a></li>
                    <% } else { %>
                        <% if(currentUser.isPremium == false) { %>
                            <li id="goPremium"><a href='/premium'>GO PREMIUM</a></li>
                        <% } %>
                        <li id='navProfile' value='<%= currentUser._id %>'><p><%= currentUser.username %></p></li>
                        <li id='navLogout'><a href='/logout'>Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </div>
</div>
<% if(error && error.length > 0) { %>
    <div class="" role="alert" style="background-color: red;">
        <%= error %>
    </div>
<% } %>
<% if(success && success.length > 0) { %>
    <div class="" role="alert" style="background-color: green;">
        <%= success %>
    </div>
<% } %>
