<%- include('../partials/header.ejs') %>

<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/nav.css">
<script type="module" defer src="/javascript/index.js"></script>
<script type="module" defer src="/javascript/nav.js"></script>
</head>
<body>

<%- include('../partials/nav.ejs') %>  

<section class="index">
    <div class="container">
        <h1>Welcome <%= currentUser.username %>!</h1>
        <div class="collection">
            <% collection.forEach(function(collection){ %>
                <div class='content'>
                    <div>
                        <img src='<%= collection.image %>'>
                        <h2><%= collection.songName %></h2>
                        <h3><%= collection.artist.artistName %></h3>
                        <a href='/collection/<%= collection._id %>'>
                            <button>View</button>
                        </a>
                        <button>Edit</button>
                    </div>
                </div>  
            <% }); %>
        </div>
        <a href='/collection/new'>Add new collection</a>
    </div>
</section>

<%- include('../partials/footer.ejs') %>