<%- include('../partials/header.ejs') %>

<link rel="stylesheet" href="/css/index/index.css">
<link rel="stylesheet" href="/css/index/home.css">
<link rel="stylesheet" href="/css/index/nav.css">
<link rel="stylesheet" href="/css/index/player.css">
<link rel="stylesheet" href="/css/index/search.css">
<link rel="stylesheet" href="/css/index/section.css">
<link rel="stylesheet" href="/css/index/showProfile.css">
<link rel="stylesheet" href="/css/index/addDataPage.css">
<link rel="stylesheet" href="/css/index/newAlbum.css">
<link rel="stylesheet" href="/css/index/editPage.css">
<link rel="stylesheet" href="/css/index/showPage.css">
<link rel="stylesheet" href="/css/index/showPlaylist.css">
<link rel="stylesheet" href="/css/index/showAllPlaylist.css">
<script type="module" defer src="/javascript/nav.js"></script>
<script type="module" defer src="/javascript/index.js"></script>
<script type="module" defer src="/javascript/player.js"></script>
</head>
<body>
<div id='overlay'></div>
<div class="playlist-panel" id="playlistPanel">
    <div class="playlist-header">
        <h1>Playlist</h1>
        <button id="closePlaylistBtn" class="close-playlist-btn">&times;</button>
    </div>
    <div id="playlistList" class="playlist-list">
    </div>
</div>
<%- include('../partials/nav.ejs') %>  

<section id="main" class="main">
    <% if(url == 'home'){ %>

    <% } else if(url == 'search') { %>
        <%- include('collection/search.ejs') %>
    <% } else if(url == 'showProfile') { %>
        <%- include('collection/showProfile.ejs') %>
    <% } else if(url == 'showAllPlaylist') { %>
        <%- include('collection/playlist/showAllPlaylist.ejs') %>
    <% } else if(url == 'showPlaylist') { %>
        <%- include('collection/playlist/showPlaylist.ejs') %>
    <% } else if(url == 'newSong') { %>
        <%- include('collection/song/newSong.ejs') %>
    <% } else if(url == 'showSong') { %>
        <%- include('collection/song/showSong.ejs') %>
    <% } else if(url == 'editSong') { %>
        <%- include('collection/song/editSong.ejs') %>
    <% } else if(url == 'newArtist') { %>
        <%- include('collection/artist/newArtist.ejs') %>
    <% } else if(url == 'showArtist') { %>
        <%- include('collection/artist/showArtist.ejs') %>
    <% } else if(url == 'editArtist') { %>
        <%- include('collection/artist/editArtist.ejs') %>
    <% } else if(url == 'newAlbum') { %>
        <%- include('collection/album/newAlbum.ejs') %>
    <% } else if(url == 'viewAlbum') { %>
        <%- include('collection/album/showAlbum.ejs') %>
    <% } else if(url == 'editAlbum') { %>
        <%- include('collection/album/editAlbum.ejs') %>
    <% } %>
</section>

<%- include('../partials/player.ejs') %>
<%- include('../partials/footer.ejs') %>