<section class="edit">
    <div class="container">
        <form action='/song/<%= song._id %>?_method=PUT' method='POST' enctype="multipart/form-data">
            <div>
                <label>Song name</label>
                <input type='text' name='song[songName]' placeholder='<%= song.songName %>' value='<%= song.songName %>' required>
            </div>
            <div>
                <p>Image</p>
                <img src='<%= song.songImg %>' width = "300px">
                <input type='file' name='songImg' accept="image/*">
            </div>
            <div>
                <label>Lyric</label>
                <input type='text' name='song[lyric]' placeholder='<%= song.lyric %>' value='<%= song.lyric %>'>
            </div>
            <div>
                <label>Song</label>
                <input type='file' name='songFile' accept="audio/*">
            </div>
            <button type="submit">Submit</button>
            <a href='/index'>Go back</a>
        </form>
    </div>
</section>
