<section class="playlist linear-display">
    <div class="container">
        <div class="img-left-info-right">
            <img src='<%= playlist.playlistImg %>'>
            <div class="info-right">
                <p><%= playlist.playlistName %></p>
                <p>by <%= playlist.author.username %></p>
                <ul>
                    <li><img id="playOnePlaylist" class="play-btn-big" data-id="<%= playlist._id %>" src="/images/play.png" alt="Play playlist"></li>
                    <% if(currentUser && playlist.author._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <li><img class="edit-btn-big" id="editPlaylist" data-id="<%= playlist._id %>" src="/images/edit.png" alt="Edit playlist"></img></li>
                        <li>
                            <form onsubmit="return confirm('Are you sure you want to delete?');" action = '/playlist/<%= playlist._id %>?_method=DELETE' method='POST'>
                                <input type="image" class="delete-btn-big" src="/images/delete.png" alt="Delete playlist">
                            </form>
                        </li>
                    <% } %>   
                </ul> 
            </div>
        </div>
        <div class="collection">
            <% if(playlist.song) { %>
                <% playlist.song.forEach(function(song){ %>
                    <div class='content'>
                        <div class="song-info">
                            <img src='<%= song.songImg %>'>
                            <div class="song-artist">
                                <p id="viewSong" class="link" data-id="<%= song._id %>"><%= song.songName %></p>
                                <p id="viewArtist" class="link" data-id="<%= song.artist._id %>"><%= song.artist.artistName %></p>
                            </div>
                        </div>
                        <ul>
                            <li><img id="playOneSong" class="play-btn" data-id="<%= song._id %>" src="/images/play.png"></li>
                            <li><img id="openPlaylistPanel" class="add-btn" data-id="<%= song._id %>" src="/images/add.png"></li>
                            <% if(currentUser.favSong.includes(song._id)) { %>
                                <li><img id="favourite" class="fav-btn-pink" data-id="<%= song._id %>" src="/images/favourite-pink.png"></li>
                            <% } else { %>
                                <li><img id="favourite" class="fav-btn" data-id="<%= song._id %>" src="/images/favourite.png"></li>
                            <% } %>
                        </ul>
                    </div>  
                <% }); %>
            <% } %>
        </div>
        <% if(currentUser && playlist.author._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <div class="playlist-edit-panel" id="editPlaylistPanel">
                <div class="playlist-header">
                    <h1>Edit Playlist</h1>
                    <button id="closeEditPlaylistBtn" class="close-playlist-btn">&times;</button>
                </div>
                <div id="editPlaylistField" class="playlist-edit-field">
                    <form action='/playlist/<%= playlist._id %>?_method=PUT' method='POST' enctype="multipart/form-data">
                        <div>
                            <label>Playlist name</label>
                            <input type='text' name='playlist[playlistName]' placeholder='<%= playlist.playlistName %>' value='<%= playlist.playlistName %>' required>
                        </div>
                        <div>
                            <label>Image</label>
                            <img src='<%= playlist.playlistImg %>' width = "300px">
                            <input type='file' name='playlistImg' accept="image/*">
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</section>