<section class="home">
    <div class="container">
        <h1>Welcome <%= currentUser.username %>!</h1>
        <div class="collection">
            <% song.forEach(function(song){ %>
                <div class='content'>
                    <div>
                        <img src='<%= song.songImg %>'>
                        <h2><%= song.songName %></h2>
                        <h3><%= song.artist.artistName %></h3>
                        <button id="viewSong" value="<%= song._id %>">View</button>
                    </div>
                </div>  
            <% }); %>
        </div>
        <button id="newSong">Add new song</button>
        <!-- <a id="newSong" href=''>Add new collection</a> -->
    </div>
</section>
