<section class="home big-box-display">
    <div class="container">
        <h1>Welcome <%= currentUser.username %>!</h1>
        <% if(currentUser && currentUser.isAdmin){ %>
            <button id="newArtist">Add new artist</button>
            <button id="newSong">Add new song</button>
            <button id="newAlbum">Add new album</button>
        <% } %>
        <p>Top 10 most favourited song</p>
        <div class="collection">
            <% mostFavSong.forEach(function(song){ %>
                <div class='content'>
                    <div class="song-info">
                        <img src='<%= song.songImg %>'>
                        <div class="song-artist">
                            <p id="viewSong" class="link" data-id="<%= song._id %>"><%= song.songName %></p>
                            <p id="viewArtist" class="link" data-id="<%= song.artist._id %>"><%= song.artistName[0].artistName %></p>
                        </div>
                    </div>
                    <ul>
                        <li><p><%= song.count %></p></li>
                        <li><img id="playOneSong" class="play-btn" data-id="<%= song._id %>" src="/images/play.png"></li>
                        <li><img id="openPlaylistPanel" class="add-btn" data-id="<%= song._id %>" src="/images/add.png"></li>
                        <% if(currentUser.favSong.includes(song._id)) { %>
                            <li><img id="favourite" class="fav-btn-pink" data-id="<%= song._id %>" src="/images/favourite-pink.png"></li>
                        <% } else { %>
                            <li><img id="favourite" class="fav-btn" data-id="<%= song._id %>" src="/images/favourite.png"></li>
                        <% } %>
                    </ul>
                </div>  
            <% }); %>
        </div>
        <p>New Song Releases</p>
        <div class="collection">
            <% song.forEach(function(song){ %>
                <div class='content'>
                    <div class="song-info">
                        <img src='<%= song.songImg %>'>
                        <div class="song-artist">
                            <p id="viewSong" class="link" data-id="<%= song._id %>"><%= song.songName %></p>
                            <p id="viewArtist" class="link" data-id="<%= song.artist._id %>"><%= song.artist.artistName %></p>
                        </div>
                    </div>
                    <ul>
                        <li><img id="playOneSong" class="play-btn" data-id="<%= song._id %>" src="/images/play.png"></li>
                        <li><img id="openPlaylistPanel" class="add-btn" data-id="<%= song._id %>" src="/images/add.png"></li>
                        <% if(currentUser.favSong.includes(song._id)) { %>
                            <li><img id="favourite" class="fav-btn-pink" data-id="<%= song._id %>" src="/images/favourite-pink.png"></li>
                        <% } else { %>
                            <li><img id="favourite" class="fav-btn" data-id="<%= song._id %>" src="/images/favourite.png"></li>
                        <% } %>
                    </ul>
                </div>  
            <% }); %>
        </div>
        <p>New Artist</p>
        <div class="collection">
            <% artist.forEach(function(artist){ %>
                <div class='content'>
                    <div class="song-info">
                        <img src='<%= artist.artistImg %>'>
                        <div class="song-artist">
                            <p id="viewArtist" class="link" data-id="<%= artist._id %>"><%= artist.artistName %></p>
                        </div>
                    </div>
                </div>  
            <% }); %>
        </div>
        <p>New Album Releases</p>
        <div class="collection">
            <% album.forEach(function(album){ %>
                <div class='content'>
                    <div class="song-info">
                        <img src='<%= album.albumImg %>'>
                        <div class="song-artist">
                            <p id="viewAlbum" class="link" data-id="<%= album._id %>"><%= album.albumName %></p>
                            <p id="viewArtist" class="link" data-id="<%= album.artist._id %>"><%= album.artist.artistName %></p>
                        </div>
                    </div>
                    <ul>
                        <li><img id="playOneAlbum" class="play-btn" data-id="<%= album._id %>" src="/images/play.png" alt="Play album"></li>
                    </ul>
                </div>  
            <% }); %>
        </div>
        <p>Your playlist</p>
        <div class="collection">
            <% playlist.forEach(function(playlist){ %>
                <div class='content'>
                    <div class="song-info">
                        <img src='<%= playlist.playlistImg %>'>
                        <div class="song-artist">
                            <p id="viewPlaylist" class="link" data-id="<%= playlist._id %>"><%= playlist.playlistName %></p>
                        </div>
                    </div>
                    <ul>
                        <li><img id="playOnePlaylist" class="play-btn" data-id="<%= playlist._id %>" src="/images/play.png" alt="Play playlist"></li>
                    </ul>
                </div>  
            <% }); %>
        </div>
    </div>
</section>
