<section class="artist">
    <div class="container">
        <div class="img-left-info-right">
            <img src='<%= artist.artistImg %>'>
            <div class="info-right">
                <p><%= artist.artistName %></p>
                <ul>
                    <% if(currentUser && currentUser.isAdmin){ %>
                        <li><img class="edit-btn-big" id="editArtist" data-id="<%= artist._id %>" src="/images/edit.png" title="Edit artist"></img></li>
                        <li>
                            <form onsubmit="return confirm('Are you sure you want to delete?');" action = '/artist/<%= artist._id %>?_method=DELETE' method='POST'>
                                <input type="image" class="delete-btn-big" src="/images/delete.png" title="Delete song">
                            </form>
                        </li>
                    <% } %>   
                </ul> 
            </div>
        </div>
        <h2>Song</h2>
        <div class="collection">
            <% if(artist.song) { %>
                <% artist.song.forEach(function(song){ %>
                    <div class='content'>
                        <div class="song-info">
                            <img src='<%= song.songImg %>'>
                            <div class="song-artist">
                                <p id="viewSong" class="link" data-id="<%= song._id %>"><%= song.songName %></p>
                            </div>
                        </div>
                        <ul>
                            <li><img id="playOneSong" class="play-btn" data-id="<%= song._id %>" src="/images/play.png"></li>
                            <li><img id="openPlaylistPanel" class="add-btn" data-id="<%= song._id %>" src="/images/add.png"></li>
                            <% if(currentUser.favSong.includes(song._id)) { %>
                                <li><img id="favourite" class="fav-btn-pink" data-id="<%= song._id %>" src="/images/favourite-pink.png"></li>
                            <% } else { %>
                                <li><img id="favourite" class="fav-btn" data-id="<%= song._id %>" src="/images/favourite.png"></li>
                            <% } %>
                        </ul>
                    </div>  
                <% }); %>
            <% } %>
        </div>
        <h2>Album</h2>
        <div class="collection">
            <% if(artist.album) { %>
                <% artist.album.forEach(function(album){ %>
                    <div class='content'>
                        <div class="song-info">
                            <img src='<%= album.albumImg %>'>
                            <div class="song-artist">
                                <p id="viewAlbum" class="link" data-id="<%= album._id %>"><%= album.albumName %></p>
                            </div>
                        </div>
                        <ul>
                            <li><img id="playOneAlbum" class="play-btn" data-id="<%= album._id %>" src="/images/play.png"></li>
                        </ul>
                    </div>  
                <% }); %>
            <% } %>
        </div>
    </div>
</section>